* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

@font-face {
  font-family: "Sen", sans-serif;
  src: url("../fonts/Sen-Regular.ttf");
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../fonts/Inter-Regular.ttf");
}
nav {
  background-color: #232536;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 11px;
}
nav .navbar__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 83px;
       column-gap: 83px;
}
nav .navbar__wrapper.active {
  transform: translateX(0);
}
nav .navbar__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
nav .navbar__menu-list {
  list-style: none;
}
nav .navbar__menu-link {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.4s linear;
}
nav .navbar__menu-link:hover {
  color: #FFD050;
}
nav .navbar__button {
  font-size: 18px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  border: 1px solid transparent;
  color: #232536;
  padding: 16px 48px;
  transition: all 0.4s linear;
  cursor: pointer;
}
nav .navbar__button:hover {
  background: #232536;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
nav .navbar__button:active {
  transform: scale(0.95);
}

.hero {
  background: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../../images/hero-bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 128px;
  padding-bottom: 192px;
  margin-bottom: 94px;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 475px;
}
.hero__wrapper-post {
  margin-bottom: 24px;
}
.hero__wrapper-title {
  font-size: 50px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.hero__wrapper-span {
  font-size: 16px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.hero__wrapper-span span {
  color: #FFD050;
}
.hero__wrapper-text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  padding-right: 205px;
  margin-bottom: 46px;
}
.hero__wrapper button {
  font-size: 18px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  background: #FFD050;
  border: 1px solid transparent;
  transition: all 0.4s linear;
  padding: 16px 48px;
  cursor: pointer;
}
.hero__wrapper button:hover {
  background: transparent;
  color: #FFD050;
  border-color: #FFD050;
}
.hero__wrapper button:active {
  transform: scale(0.95);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-bg-2x.png");
  }
}
@media screen and (max-width: 1024px) {
  .navbar__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0;
  }
  .hero__wrapper-title {
    font-size: 50px;
  }
  .hero__wrapper-span {
    font-size: 18px;
  }
  .hero__wrapper-text {
    font-size: 18px;
    padding-right: 0;
  }
}
.blog {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  border-bottom: 1px solid #000000;
  padding-bottom: 66px;
  margin-bottom: 69px;
}
.blog__title {
  font-size: 36px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #000000;
}
.blog__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.blog__wrapper-content {
  display: flex;
  flex-direction: column;
  transition: all 0.4s linear;
}
.blog__wrapper-content:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
  transform: scale(0.98);
}
.blog__wrapper-content span {
  margin-top: 32px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 16px;
}
.blog__wrapper-content span span {
  color: #592EA9;
}
.blog__wrapper-content h2 {
  font-size: 28px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  margin-bottom: 16px;
}
.blog__wrapper-content p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #232536;
}

@media (max-width: 1024px) {
  .blog__title {
    text-align: center;
    font-size: 30px;
  }
  .blog__wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}
.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 73px;
  row-gap: 71.43px;
}
.category__title {
  text-align: center;
  font-size: 36px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
}
.category__wrapper {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.category__wrapper-content {
  padding: 31.03px 32px;
  border: 1px solid #6D6E76;
  transition: all 0.4s ease-in-out 0s;
}
.category__wrapper-content:hover {
  border-color: #FFD050;
  background-color: #FFD050;
  border-radius: 5px;
}
.category__wrapper-content:hover img {
  background-color: #FFFFFF;
  border-radius: 10px;
}
.category__wrapper-content img {
  margin-bottom: 15.51px;
}
.category__wrapper-content__up {
  padding: 12px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.category__wrapper-content h3 {
  font-size: 28px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
}
.category__wrapper-content p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #6D6E76;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .category__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 576px) {
  .category__wrapper {
    display: grid;
    grid-template-columns: none;
  }
}
.business {
  background: #F4F0F8;
  margin-bottom: 57px;
}
.business__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 80px 0;
  max-width: 515px;
}
.business__wrapper h1 {
  font-size: 56px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  margin-bottom: 16px;
}
.business__wrapper p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #6D6E76;
  margin-bottom: 32px;
}
.business__wrapper span {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #232536;
  text-transform: uppercase;
}

.content {
  margin-bottom: 87px;
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 57px;
}
.content__wrapper-news {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.content__wrapper-news .article {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
.content__wrapper-news .article img {
  max-width: 333px;
}
.content__wrapper-news .article .texts span {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #592ea9;
  text-transform: capitalize;
}
.content__wrapper-news .article .texts h3 {
  font-size: 30px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  margin-top: 20px;
}
.content__wrapper-news .article .texts p {
  font-size: 16px;
  font-weight: "Inter", sans-serif;
  font-weight: 400;
  color: #6d6e76;
  margin-top: 50px;
  margin-bottom: 5px;
}
.content__wrapper-news .article .texts a {
  color: #000000;
}
.content__wrapper .pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.content__wrapper .pagination li {
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.content__wrapper .pagination .active {
  background-color: #007bff;
  color: #fff;
  transform: scale(0.96);
  border-color: #007bff;
}
.content__wrapper form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 1300px;
}
.content__wrapper form input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 100%;
}
.content__wrapper form button {
  background-color: #007bff;
  color: white;
  padding: 15px 15px;
  border: 1px solid transparent;
  border-left: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}
.content__wrapper .loading {
  position: fixed;
  top: 75%;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-5%, 0%);
}
.content__wrapper .loading .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.content__wrapper .loading .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.content__wrapper .loading .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.content__wrapper .loading .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.content__wrapper .loading .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1024px) {
  .content__wrapper-news .article {
    flex-direction: column;
    row-gap: 10px;
  }
  .content__wrapper-news .article .texts h3 {
    margin-top: 15px;
  }
  .content__wrapper-news .article .texts p {
    margin-top: 30px;
  }
  .content__wrapper form {
    width: 600px;
  }
  .content__wrapper .pagination {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
@media (max-width: 576px) {
  .content__wrapper form {
    width: 300px;
  }
}
.allNews {
  margin-bottom: 87px;
}
.allNews__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 57px;
}
.allNews__wrapper-news {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.allNews__wrapper-news .article {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
.allNews__wrapper-news .article img {
  max-width: 333px;
}
.allNews__wrapper-news .article .texts span {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #592ea9;
  text-transform: capitalize;
}
.allNews__wrapper-news .article .texts h3 {
  font-size: 30px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  margin-top: 20px;
}
.allNews__wrapper-news .article .texts p {
  font-size: 16px;
  font-weight: "Inter", sans-serif;
  font-weight: 400;
  color: #6d6e76;
  margin-top: 50px;
  margin-bottom: 5px;
}
.allNews__wrapper-news .article .texts a {
  color: #000000;
}
.allNews__wrapper .pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.allNews__wrapper .pagination li {
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.allNews__wrapper .pagination .active {
  background-color: #007bff;
  color: #fff;
  transform: scale(0.96);
  border-color: #007bff;
}
.allNews__wrapper form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 1300px;
  margin-top: 64px;
}
.allNews__wrapper form input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 100%;
}
.allNews__wrapper form button {
  background-color: #007bff;
  color: white;
  padding: 15px 15px;
  border: 1px solid transparent;
  border-left: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}
.allNews__wrapper .text {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  margin-bottom: 32px;
}
.allNews__wrapper .line {
  border: 1px solid #000000;
  margin-bottom: 64px;
}
.allNews__wrapper .loading {
  position: fixed;
  top: 70%;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-5%, -10%);
}
.allNews__wrapper .loading .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.allNews__wrapper .loading .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.allNews__wrapper .loading .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.allNews__wrapper .loading .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.allNews__wrapper .loading .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1024px) {
  .allNews__wrapper-news .article {
    flex-direction: column;
    row-gap: 10px;
  }
  .allNews__wrapper-news .article .texts h3 {
    margin-top: 15px;
  }
  .allNews__wrapper-news .article .texts p {
    margin-top: 30px;
  }
  .allNews__wrapper form {
    width: 600px;
  }
  .allNews__wrapper .pagination {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
@media (max-width: 576px) {
  .allNews__wrapper form {
    width: 300px;
  }
}
.registerPage {
  text-align: center;
  padding-bottom: 158px;
}
.registerPage__content-form {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
.registerPage__content-form .form-group {
  margin-bottom: 15px;
  font-size: 16px;
  color: #9DA2B5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registerPage__content-form .form-group input {
  padding: 24px;
  width: 100%;
}
.registerPage__content-form .form-group .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.registerPage__content-title {
  padding-top: 69px;
  font-size: 48px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  margin-bottom: 68px;
}
.registerPage-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.registerPage-search input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 100%;
}
.registerPage-search button {
  background-color: #007bff;
  color: white;
  padding: 15px 15px;
  border: 1px solid transparent;
  border-left: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}
.registerPage-search button:hover {
  background-color: #fff;
  color: #007bff;
  border-color: #007bff;
  border-left: 1px solid;
}
.registerPage-search button:active {
  transform: scale(0.96);
}
.registerPage-btn {
  font-size: 24px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #232536;
  padding: 16px 0;
  background: #FFD050;
  border: 2px solid transparent;
  transition: all 0.4s linear;
}
.registerPage-btn:hover {
  background: transparent;
  color: #FFD050;
  border-color: #FFD050;
  font-weight: 500;
}
.registerPage #userList {
  list-style: none;
  padding: 0;
}
.registerPage #userList li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registerPage #userList li button {
  background-color: #ff0000;
  font-size: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 12px;
  transition: all 0.4s linear;
  cursor: pointer;
}
.registerPage #userList li button:hover {
  color: #ff0000;
  background-color: #fff;
  border-color: #ff0000;
}

.footer {
  background-color: #232536;
  padding: 54px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper-text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__wrapper-text p, .footer__wrapper-text address {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__wrapper-socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 26.67px;
       column-gap: 26.67px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */