$primary-font-family:'Sen',
sans-serif;
$secondary-font-family: 'Inter',
sans-serif;
$navbar-color: #232536;
$button-color:#FFD050;
$black-color: #000000;
$category-business-color: #592ea9;
$white-color: #FFFFFF;
$color-primary: #6c63ff;